body {
    margin: 0;
    padding: 0;
}
.form-group {
    background-color: pink;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.book-image {
    width: 100px; /* or any size you want */
    height: auto; /* keep the aspect ratio */
}

#sparkling-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.sparkle {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #e1f5f3;
    border-radius: 50%;
    animation: sparkle 1s infinite;
}

@keyframes sparkle {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    font-size: 17px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#toast.visible {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}


/* The container */
.PanelFloat {
    position: fixed;
    overflow: hidden;
    z-index: 2400;
    opacity: 0.70;
    right: 30px;
    top: 0px !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#panel {
    /* visibility: hidden; */
    /* min-width: 50%; */
    max-height: 50%;
    /* min-height: 30%; */
    margin-left: 40%;
    /* background-color: #11802c; */
    color: #fff;
    text-align: center;
    /* border-radius: 50px; */
    padding: 16px;
    /* position: fixed; */
    z-index: 7;
    /* left: 50%; */
    /* bottom: 50%; */
    transform: translate(-50%, -50%);
    font-size: 14px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.btn-robin {
    overflow: auto;
    min-width: 0px;
    /* margin-left: -125px; */
    background-color: #2ac4a8;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    left: 50%;
    /* bottom: 50%;  */
    /* transform: translate(-50%, -50%); */
    font-size: 17px;
    /* opacity: 0; */
    /* transition: visibility 0s, opacity 0.5s linear; */
}
#panel.visible {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    /* background-color: #1391bf; */
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(208, 21, 161, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    /* font-size: 30px; */
    text-align: center;
  }

  .tooltip-robin{
    min-width: 100%;
    visibility: hidden;
    border-radius: 60%;
    background-color: rgba(129, 1, 97, 0.815);
    color: #f8f1f1;
    text-align: center;
    position: fixed;
    left: 50%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .visible-robin{
    visibility: visible;
    opacity: 1;
  }

  /* add overlay */
  .book-image-container {
    position: relative;
    display: inline-block;
  }
  
  .plus-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    visibility: hidden;
  }
  
  .book-image-container:hover .plus-button {
    visibility: visible;
  }
