body {
    margin: 0;
    padding: 0;
    background-color: #3b0951;
}
.form-group {
    background-color: rgb(193, 142, 222);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.book-image {
    width: 100px; /* or any size you want */
    height: auto; /* keep the aspect ratio */
}
.book-image-selected-books {
    width: 50px; /* or any size you want */
    height: auto; /* keep the aspect ratio */
}


#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(167, 11, 154)07;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    font-size: 17px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#toast.visible {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}


/* The container */
.PanelFloat {
    position: fixed;
    overflow: hidden;
    z-index: 2400;
    opacity: 0.70;
    right: 30px;
    top: 0px !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#panel {

        /* width: 50%; */
        height: 51rem;
        
        overflow-y: auto;
      
    max-height: 50%;
    /* min-height: 30%; */
    margin-left: 40%;
    /* background-color: #11802c; */
    color: #320606;
    text-align: center;
    /* border-radius: 50px; */
    padding: 16px;
    position: relative;
    z-index: 7;
    left: 0%;
    /* bottom: 50%; */
    transform: translate(-50%, 0%);
    font-size: 14px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
#panel-selected-books {
    /* visibility: hidden;
    visibility: visible;
    min-width: 50%;
    max-height: 50%;
    /* min-height: 30%; */
    /* margin-left: 120%;
    margin-bottom: 100%; */
    /* background-color: #11802c; */
    width: 800px; /* Adjust as needed */
    height: 1200px;
    background-image: url("bookshelf.jpeg");
    /* color: #fff;
    text-align: center; */
    background-size: 70%;
     background-position: right; 
    /* width: 50%;
    height: 30rem; */
 
    background-repeat: no-repeat;
    /* overflow-y: auto; */ 
    /* border-radius: 50px; */
    /* padding: 100px;
   
    z-index: 7;
    right: 7%;
     bottom: 25%;  */
    /* transform: translate(-50%, 0%); */
    /* font-size: 14px;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear; */
    position: absolute;
    z-index: 7;
    right: 14%;
     bottom: -20%; 
     overflow-y: auto;
}

.book-selected {
    position: absolute ; /* Position this div relative to #panel-selected-books */
    top: 200px; /* Adjust these values as needed */
    left: 10px;
}

.btn-robin {
    overflow: auto;
    min-width: 0px;
    /* margin-left: -125px; */
    background-color: #2ac4a8;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    left: 50%;
    /* bottom: 50%;  */
    /* transform: translate(-50%, -50%); */
    font-size: 17px;
    /* opacity: 0; */
    /* transition: visibility 0s, opacity 0.5s linear; */
}
#panel.visible {
    visibility: visible;
    opacity: 1;
}
#panel-selected-books.visible {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.grid-container {
    display: grid;
    grid-template-columns:  176px 176px 176px;
    /* grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;  */
    column-gap: 0px;
    row-gap: 0px;
    padding: 0px;
    grid-gap: 0px;
  }

  .grid-container-selected-books {

    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 76px 102px 93px 100px 109px;
    grid-template-rows: 2px 9px 576px;
    column-gap: 4px;
    row-gap: 37px;
    grid-gap: -11px;
    align-content: space-evenly;
    justify-content: right;
    justify-items: left;
  }
  .grid-item-selected-books{
   
     
    
    /* font-size: 30px; */
    text-align: center;
  }
  .grid-item {
    background-color: rgba(11, 141, 193, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    /* font-size: 30px; */
    text-align: center;
  }

  .tooltip-robin{
    min-width: 100%;
    visibility: hidden;
    border-radius: 2%;
    background-color: rgba(129, 1, 97, 0.815);
    color: #f8f1f1;
    text-align: left;
    position: fixed;
    left: 0%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .visible-robin{
    visibility: visible;
    opacity: 1;
  }

  /* add overlay */
  .book-image-container {
    position: relative;
    display: inline-block;
  }

  .book-image-container-selected-books{
    position: relative;
    display: inline-block;
  }
  
  .plus-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    visibility: hidden;
  }
  
  .book-image-container:hover .plus-button {
    visibility: visible;
  }
  .book-image-container-selected-books:hover .plus-button {
    visibility: visible;
  }
/*  */